<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("docs-home") %>>
        <a href="/docs/providers/index.html">All Providers</a>
      </li>

      <li<%= sidebar_current("docs-ncloud-index") %>>
        <a href="/docs/providers/ncloud/index.html">Naver Cloud Platform Provider</a>
      </li>

      <li<%= sidebar_current("docs-ncloud-datasource") %>>
        <a href="#">Data Sources</a>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-ncloud-datasource-regions") %>>
            <a href="/docs/providers/ncloud/d/regions.html">ncloud_regions</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-zones") %>>
            <a href="/docs/providers/ncloud/d/zones.html">ncloud_zones</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-server-image") %>>
            <a href="/docs/providers/ncloud/d/server_image.html">ncloud_server_image</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-server-images") %>>
            <a href="/docs/providers/ncloud/d/server_images.html">ncloud_server_images</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-server-product") %>>
            <a href="/docs/providers/ncloud/d/server_product.html">ncloud_server_product</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-server-products") %>>
            <a href="/docs/providers/ncloud/d/server_products.html">ncloud_server_products</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-member-server-image") %>>
            <a href="/docs/providers/ncloud/d/member_server_image.html">ncloud_member_server_image</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-member-server-images") %>>
            <a href="/docs/providers/ncloud/d/member_server_images.html">ncloud_member_server_images</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-port-forwarding-rule") %>>
            <a href="/docs/providers/ncloud/d/port_forwarding_rule.html">ncloud_port_forwarding_rule</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-port-forwarding-rules") %>>
            <a href="/docs/providers/ncloud/d/port_forwarding_rules.html">ncloud_port_forwarding_rules</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-public-ip") %>>
            <a href="/docs/providers/ncloud/d/public_ip.html">ncloud_public_ip</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-nas-volume") %>>
            <a href="/docs/providers/ncloud/d/nas_volume.html">ncloud_nas_volume</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-nas-volumes") %>>
            <a href="/docs/providers/ncloud/d/nas_volumes.html">ncloud_nas_volumes</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-access-control-group") %>>
            <a href="/docs/providers/ncloud/d/access_control_group.html">ncloud_access_control_group</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-access-control-groups") %>>
            <a href="/docs/providers/ncloud/d/access_control_groups.html">ncloud_access_control_groups</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-access-control-rule") %>>
            <a href="/docs/providers/ncloud/d/access_control_rule.html">ncloud_access_control_rule</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-access-control-rules") %>>
            <a href="/docs/providers/ncloud/d/access_control_rules.html">ncloud_access_control_rules</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-root-password") %>>
            <a href="/docs/providers/ncloud/d/root_password.html">ncloud_root_password</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-ncloud-resource") %>>
        <a href="#">Resources</a>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-ncloud-resource-instance") %>>
            <a href="/docs/providers/ncloud/r/instance.html">ncloud_instance</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-resource-block-storage") %>>
            <a href="/docs/providers/ncloud/r/block_storage.html">ncloud_block_storage</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-resource-public-ip") %>>
            <a href="/docs/providers/ncloud/r/public_ip.html">ncloud_public_ip</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-resource-login-key") %>>
            <a href="/docs/providers/ncloud/r/login_key.html">ncloud_login_key</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-resource-nas-volume") %>>
            <a href="/docs/providers/ncloud/r/nas_volume.html">ncloud_nas_volume</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-resource-port-forwarding-rule") %>>
            <a href="/docs/providers/ncloud/r/port_forwarding_rule.html">ncloud_port_forwarding_rule</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-resource-load-balancer") %>>
            <a href="/docs/providers/ncloud/r/load_balancer.html">ncloud_load_balancer</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-resource-load-balancer-ssl-certificate") %>>
            <a href="/docs/providers/ncloud/r/load_balancer_ssl_certificate.html">ncloud_load_balancer_ssl_certificate</a>
          </li>
        </ul>
      </li>
    </ul>
  <% end %>

  <%= yield %>
  <% end %>
