<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("docs-home") %>>
        <a href="/docs/providers/index.html">All Providers</a>
      </li>

      <li<%= sidebar_current("docs-ncloud-index") %>>
        <a href="/docs/providers/ncloud/index.html">Ncloud Provider</a>
      </li>

      <li<%= sidebar_current("docs-ncloud-datasource") %>>
        <a href="#">Data Sources</a>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-ncloud-datasource-access-control-groups") %>>
            <a href="/docs/providers/ncloud/d/access_control_groups.html">ncloud_access_control_groups</a>
          </li>
          <li<%= sidebar_current("docs-ncloud-datasource-server-images") %>>
            <a href="/docs/providers/ncloud/d/server_images.html">ncloud_server_images</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-ncloud-resource") %>>
        <a href="#">Resources</a>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-ncloud-resource-instance") %>>
            <a href="/docs/providers/ncloud/r/instance.html">ncloud_instance</a>
          </li>
        </ul>
      </li>
    </ul>
  <% end %>

  <%= yield %>
  <% end %>